/* Font Scripts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;700&display=swap');

/*Body Styling*/


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

h1 {
    font-family: Josefin Sans;
    font-size: large;
}

h2 {
    font-family: Josefin Sans;
    color: #222;
}


/*Game Section*/

.game-section {
    background: url(..//svg/title.svg) center center no-repeat;
    min-height: 100vh;
    object-fit: fill;
    background-size: cover;
}

/*Score Section*/

.score-section {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.match-images {
    max-width: 500px;
    max-height: 500px;
}

/*Game Section p*/

.score-section p {
    text-align: center;
    font-family: Josefin Sans;
    color: #18060a;
    font-size: 2rem;
}

/*Intro title section*/

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

/*Title h1*/

.title h1 {
    font-size: 5rem;

}

.title h2 {
    text-align: center;
    font-size: 4vw;
    color: #18060a;
    font-weight: 400;
    padding-bottom: 9vh;
}

.title>p {
    font-family: Josefin Sans;
    color: #18060a;
}

/*Title + match button*/

.match button,
.defeat-image button,
.victory-image button {
    width: 8rem;
    height: 3rem;
    background: none;
    border: none;
    color: #18060a;
    font-size: larger;
    background: #f5d582;
    border-radius: 20px;
    font-family: Josefin Sans;
}

.rules-button {
    width: 9rem;
    height: 3.5rem;
    background: none;
    border: none;
    color: #18060a;
    font-size: x-large;
    background: #f5d582;
    border-radius: 20px;
    font-family: Josefin Sans;
}

.title button {
    width: 12rem;
    height: 5rem;
    background: none;
    border: none;
    color: #18060a;
    font-size: larger;
    background: #f5d582;
    border-radius: 20px;
    font-family: Josefin Sans;
}



.rules-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 5rem;
    right: 5rem;
}

.rules p {
    font-family: Josefin Sans;
    color: #f5d582;
    font-size: 1.5rem;
    position: relative;
    top: 15px;
}

button:hover {
    color: #18060a;
    background-color: #f2dba3;
}

/*Match section*/

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opactiy 0.7s ease 0.5s;
}

/*Winner Section*/

.winner {
    color: #18060a;
    text-align: center;
    font-size: 2.5rem;
}


/*Winner Section + Choice Section*/

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.choices {
    display: inline;
    align-items: center;
    max-height: 20px;
}



#cpuImage {
    transform: scaleX(-1);
}

/*Defeat and Victory Popup style*/

#popup-victory {

    background: url(..//svg/win.svg) center center no-repeat;
    min-height: 100vh;
    object-fit: fill;
    background-size: cover;
}

#popup-defeat {


    background: url(..//svg/lose.svg) center center no-repeat;
    min-height: 100vh;
    object-fit: fill;
    background-size: cover;
}

.victory-defeat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}

.hidden-score {
    opacity: 0;
}

.hide {
    display: none;
}

/*Fade in and Fade out (title)*/

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

/*Pop up styles*/
.rules .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display: none;
}

.rules .content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 450px;
    height: 600px;
    z-index: 2;
    text-align: center;
    padding: 20px;
}

.content>img {
    width: 100%;
    height: fit-content;
    border-radius: 10%;
}

.rules-box {

    background-color: #361731;
    max-width: 600px;
    height: 190px;
    border: solid 5px #f5d582;

}

.rules .close-btn {
    position: absolute;
    right: 30px;
    top: 100px;
    width: 50px;
    height: 50px;
    background: #f5d582;
    color: #18060a;
    font-size: 70px;
    font-weight: 300;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: Josefin Sans;
}

.rules.active .overlay {
    display: block;
}

.rules.active .content {
    transform: translate(-50%, -50%) scale(1);
}

.reveal {
    display: block;
}


@keyframes attackRight {
    from {
        left: 0px;
    }

    to {
        left: 20px;
    }
}

.attackRight {
    animation: linear;
    animation-name: attackRight;
    animation-duration: 2s;
}

/* Media Queries */

@media screen and (max-width: 1315px) {

    .title button,
    .match button,
    .rules-button,
    .defeat-image button {
        width: 6rem;
        height: 3rem;
        font-size: medium;
    }
}

@media screen and (max-width: 1000px) {
    .choices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 100px;
    }

    .choices>button {
        width: 14rem;
        height: 9rem;
        padding: 10px;
    }


}

@media screen and (min-width: 300px) {
    .title h1 {
        font-size: 6.5vw;
    }


}