/* Font Scripts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;700&display=swap');

/*Body Styling*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Josefin Sans;
    font-size: large;
}

h2 {
    font-family: Josefin Sans;
    color: #222;
}

/*Game Section*/

.game-section {
    background: url(/assets/temp/introTest.svg) center center no-repeat;
    height: 100vh;
    width: 100vw;

}

/*Score Section*/

.score-section {
    color: #fff;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Game Section p*/

.score-section p {
    text-align: center;
    font-family: Josefin Sans;
    color: #222;
}

/*Intro title section*/

.title {

    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opactiy 3s ease;
}

/*Title h1*/

.title h1 {
    font-size: 3rem;
}

.title>p {
    font-family: Josefin Sans;
    color: #222;
}

/*Title + match button*/

.title button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: #fef33b;
    font-size: larger;
    background: #222;
    border-radius: 20px;
    font-family: Josefin Sans;
}

/*Match section*/

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opactiy 0.7s ease 0.5s;
}

/*Winner Section*/

.winner {
    color: blue;
    text-align: center;
    font-size: larger;
}

/*Winner Section + Choice Section*/

.images,
.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Fade in and Fade out (title)*/

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

img {
    width: 200px;
    height: 200px;
}

/*Pop up styles*/
.rules .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.rules .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.rules .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.rules.active .overlay {
    display: block;
}

.rules.active .content {
    transform: translate(-50%, -50%) scale(1);
}